/* header */

.header {
  display: flex;
  position: fixed;
  place-items: center;
  background-color: #FDFDFC;
  width: 100vw;
  height: 80px;
  padding-left: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.textosHeader {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  gap: 0;
}

.textosHeader strong {
  font-size: 1.3em;
}

.textosHeader p {
  margin: 0;
  color: #7E6F67;
  line-height: 1.5;
}

.logo {
  width: 50px;
  height: 50px;
}

/* App */

.App {
  margin-top: 18vh;
  padding: 0 2vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.5vw;
}

.div1, .div2, .div3 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: auto;
  box-sizing: border-box;
}

.div1 {
  width: 28vw;
}

.div2, .div3 {
  flex: 1;
}